<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is Home Page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-2">
					
					<div class="container text-center">
						<img style="width:100px" src="" th:src="@{/image/register.png}" alt="" />
					</div>
					
						<h1 class="text-center">Register Here !!</h1>
						<form action="" th:action="@{/do_register}" method="post">

							<!-- name field -->
							<div class="mb-3">
								<label for="name_field" class="form-label">Your Name</label> 
									<input 
									type="text" 
									class="form-control"
									id="name_field" 
									placeholder="Enter here"
									required>
								
							</div>
							
							<!-- email field -->
							<div class="mb-3">
								<label for="email_field" class="form-label">Your Email</label> 
									<input 
									type="email" 
									class="form-control"
									id="email_field" 
									placeholder="Enter here"
									required>
								
							</div>
							<!-- password field -->
							<div class="mb-3">
								<label for="password_field" class="form-label">Your Password</label> 
									<input 
									type="password" 
									class="form-control"
									id="password_field" 
									placeholder="Enter here"
									required>
								
							</div>
							
							<!-- user about field-->
							<div class="mb-3">
								<textarea  placeholder="Enter something abt yourself"rows="6" class="form-control"></textarea>
							
							</div>
							
							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">
									Submit
								</button>
								<button type="reset" class="btn btn-warning ">
									Reset
								</button>
							</div>
						</form>

					</div>
				</div>

			</div>
		</div>

	</section>
</body>
</html>